.tagList{
  max-height: 100%;
  padding: 15px 15px 15px 15px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  overflow: auto;
  background-color: #4C4B63;
  font-size: 20px;
}

.tagList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tagList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px #6765a5; 
  border-radius: 10px;
}
 
/* Handle */
.tagList::-webkit-scrollbar-thumb {
  background: #b0c9d1; 
  border-radius: 10px;
}

/* Handle on hover */
.tagList::-webkit-scrollbar-thumb:hover {
  background: #798c92; 
}

.tagItem{
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    display: flex;
    align-content: flex-start;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    height: 10%;
    margin-bottom: 15px;
    background-color: #b0c9d1;
    align-items: center;
}
.checkBox{
  padding: 20px 20px 20px 20px;
}